
.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

mat-card {
    max-width: 400px;
}

.h3 {
    font-weight: 400;
}