@use '@angular/material' as mat;

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: start;
  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    ));
  @include mat.icon-button-overrides((icon-color: var(--mat-sys-on-primary),
    ));
}

.nav-spacer {
  flex: 1 1 auto;

}

.nav-sidenav {
  padding: 10px;
  width: 275px;
  @include mat.sidenav-overrides((container-background-color:var(--mat-sys-outline-variant),
      container-text-color: var(--mat-sys-on-surface),
    ));
}

.app-container {
  padding-left: 20px;
  background-color: var(--mat-sys-surface);
}
.app-content {
  flex: 1;
  padding: 15px;
  background-color: var(--mat-sys-tartiary);
  min-height: calc(100vh - 64px);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.selected-theme {
  @include mat.menu-overrides((item-icon-color: var(--mat-sys-primary),
      item-label-text-color: var(--mat-sys-primary),
    ));
}
